<div id="user_login" class="wrap">
<h1 >Welcome</h1> 
<table  align="center">
<ul>
<tr>
<td>

<%=render partial: "user_login"%>
</td>
<td>

<div id="register", style="display: none;">
<%=render partial:"user_register" %>
</div>
</td>
</tr>
</table>
</td>
Not a user?
<button id="join">Join</button>

<script>
$("#join").click(function(){
  $("#register").toggle();
});
</script>
</div>
<h4>Created by Zilan,Lin</h4>